# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
data/offline/
data/raw/
*.osm.pbf
*.osm.pbf.*
*.osm.pbf.md5
data/raw/es/*.geojson
data/raw/es/*.osm.pbf

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
